desktop.ini
*/globalStorage/*
*/History/*
*/snippets/*
*/sync/*
*/workspaceStorage/*
*/Modules/*
*/Scripts/*

Code/Code/Modules/*
Code/Modules/*
Code/Code/Scripts/*
Code/Scripts/*

PowerShell/PowerShell/Modules/*
PowerShell/Modules/*
PowerShell/PowerShell/Scripts/*
PowerShell/Scripts/*

WindowsPowerShell/WindowsPowerShell/Modules/*
WindowsPowerShell/Modules/*
WindowsPowerShell/WindowsPowerShell/Scripts/*
WindowsPowerShell/Scripts/*

WindowsTerminal/WindowsTerminal/Modules/*
WindowsTerminal/Modules/*
WindowsTerminal/WindowsTerminal/Scripts/*
WindowsTerminal/Scripts/*
