# https://www.mkdocs.org/user-guide/configuration/
# https://www.mkdocs.org/user-guide/writing-your-docs/
# https://www.mkdocs.org/user-guide/writing-your-docs/#writing-with-markdown
# https://mkdocs.readthedocs.io/en/0.15.2/user-guide/writing-your-docs/
# https://mkdocs.readthedocs.io/en/0.15.2/user-guide/styling-your-docs/
# https://example-mkdocs-basic.readthedocs.io/en/latest/
# https://github.com/mkdocs/mkdocs/blob/master/mkdocs.yml
# mkdocs.yml

site_name: PowerShell Pre-Workout
site_url: https://day3bits.com/PowerShell-Pre-Workout
repo_url: https://github.com/SamErde/PowerShell-Pre-Workout
repo_name: PowerShell-Pre-Workout
# edit_uri: edit/main/docs/
# edit_uri_template:
site_description: A special mix of tools (and experiments) to help jump start your PowerShell session! # meta tag to the generated HTML header
site_author: Sam Erde # meta tag to the generated HTML header
copyright: (c) 2024 Sam Erde.
# remote_branch:
# remote_name:
# docs_dir: docs
# site_dir:
# extra_css:
# extra_javascript:
# extra_templates:
# extra:
theme: readthedocs
# theme:
#     name: readthedocs
#     locale: en
# custom_dir: my_theme_customizations/
# static_templates:
#     - sitemap.html
# include_sidebar: true
nav:
  - Home: index.md
  # - Functions:
  #   - Function1: functions/function1.md
